---
const { title = "Warkop Arum" } = Astro.props;
---
<html lang="id">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body class="bg-slate-50 text-slate-900 font-sans antialiased">
    <slot />
    <script>
      import { initStores } from '../stores/user.js';
      initStores();
    </script>
  </body>
</html>
